body {
  background-color: rgb(226, 226, 25);
  color: white;
}
#navi {
  max-height: 8vh;
}

header div#top-bar {
  background-color: black;
  min-height: 5vh;
  width: 100%;
}

main {
  min-height: 80vh;
}

#bg-img {
  background: rgb(226, 226, 25) url('../images/background.jpg');
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  clip-path: ellipse(59% 90% at 56% 21%);
}

.display-3 {
  color: rgb(252, 252, 252);
  font-weight: 400;
  width: 100%;
  margin-top: 8rem;
}

.show-tab {
  cursor: pointer;
  width: 100%;
  height: 5rem;
  background: rgb(151, 151, 25);
  text-align: center;
  padding: 1.5rem;
}

.show-tab:first-child {
  border-top-left-radius: 20%;
}

.tab-content {
  background: rgba(226, 226, 25, 0.411);
  width: 100%;
  font-weight: bold;
  min-height: 25rem;
  display: none;
}

#tab-2-content {
  padding-top: 2rem;
  min-height: 20rem;
}

footer {
  text-align: center;
  color: white;
  background: rgb(20, 20, 0);
  min-height: 5vh;
}

/* ********************Generate Page********************** */
.generate {
  background: rgb(226, 226, 36);
  height: 25rem;
  width: 40%;
  border: white solid 2px;
  border-radius: 5%;
  text-align: center;
  margin: 5rem auto;
}

#display-card {
  overflow: scroll;
  height: 30rem;
  padding: 2rem;
}

/******************Show Page*****************/
#show-page {
  width: 70%;
}

li.list {
  list-style: none;
  color: red;
}

/*********************views*****************/
#view-display {
  color: black;
  box-sizing: border-box;
  margin-top: 4rem;
  width: 30%;
  border: solid white 2px;
  border-radius: 10%;
  height: 25rem;
  background-color: rgb(226, 226, 36);
  font-weight: bold;
  padding: 1rem;
  padding-left: 3rem;
}

div#view-display h1 {
  text-align: center;
}

#edit-display {
  box-sizing: border-box;
  margin-right: 2rem;
  margin-top: 4rem;
  border: white solid 2px;
  height: 25rem;
  width: 30%;
  padding: 1rem;
  border-radius: 10%;
  color: yellow;
  font-weight: bold;
}

/* Utility */
.show {
  display: inline-block;
}

.selected {
  border-bottom: white solid 2px;
}
