body {
  background-color: rgb(226, 226, 25);
  background-image: linear-gradient(
    to right top,
    #cf9c0b,
    #d2a511,
    #d5af17,
    #d8b81e,
    #dac225
  );
  color: white;
}
#navi {
  max-height: 8vh;
}

header div#top-bar {
  background-color: black;
  min-height: 5vh;
  width: 100%;
}

main {
  min-height: 80vh;
}

#bg-img {
  background: rgb(226, 226, 25) url('../images/background.jpg');
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  clip-path: ellipse(59% 90% at 56% 21%);
}
@media (max-width: 575.98px) {
  #bg-img {
    background: rgb(226, 226, 25) url('../images/background.jpg');
    height: 80vh;
  }
}

.display-3 {
  color: rgb(252, 252, 252);
  font-weight: 400;
  width: 100%;
  margin-top: 8rem;
}

@media (max-width: 991.98px) {
  .display-3 {
    font-size: 4rem;
  }
}

@media (max-width: 767.98px) {
  .display-3 {
    font-size: 3rem;
  }
}

.show-tab {
  cursor: pointer;
  width: 100%;
  height: 5rem;
  background: rgb(151, 151, 25);
  text-align: center;
  padding: 1.5rem;
}

.show-tab:first-child {
  border-top-left-radius: 20%;
}

.tab-content {
  background: rgba(226, 226, 25, 0.411);
  width: 100%;
  font-weight: bold;
  min-height: 25rem;
  display: none;
}

#tab-2-content {
  padding-top: 2rem;
  min-height: 20rem;
}

footer {
  text-align: center;
  color: white;
  background: rgb(20, 20, 0);
  min-height: 5vh;
}

/* ********************Generate Page********************** */
.generate {
  padding: 4rem;
  background: rgb(226, 226, 36);
  background-image: linear-gradient(
    to right top,
    #cf9c0b,
    #d2a511,
    #d5af17,
    #d8b81e,
    #dac225
  );
  height: 25rem;
  border: white solid 2px;
  border-radius: 5%;
  text-align: center;
  margin: 5rem auto;
}

#display-card {
  overflow: scroll;
  height: 30rem;
  padding: 2rem;
}

/******************Show Page*****************/
#show-page {
  width: 70%;
}

li.list {
  list-style: none;
  color: red;
}

/*********************views*****************/
#view-display {
  color: black;
  box-sizing: border-box;
  margin-top: 4rem;
  border: solid white 2px;
  border-radius: 10%;
  height: 25rem;
  background-color: rgb(226, 226, 36);
  background-image: linear-gradient(
    to right top,
    #cf9c0b,
    #d2a511,
    #d5af17,
    #d8b81e,
    #dac225
  );
  font-weight: bold;
  padding: 1rem;
  padding-left: 3rem;
}

div#view-display h1 {
  text-align: center;
}

#edit-display {
  box-sizing: border-box;
  margin-right: 2rem;
  margin-top: 4rem;
  border: white solid 2px;
  height: 25rem;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  background: white;
  background-image: linear-gradient(
    to right top,
    #cf9c0b,
    #d2a511,
    #d5af17,
    #d8b81e,
    #dac225
  );
}

@media (max-width: 1199.98px) {
  /*  #edit-display {
    height: 30rem;
  }
  #view-display {
    height: 30rem;
  } */
  div#view-display h1 {
    font-size: 2rem;
  }
  div#edit-display h1 {
    font-size: 2rem;
  }
  #valid-display {
    font-size: 2rem;
  }
}
/* *********vertical nav******************** */
#vert-nav {
  background-color: rgb(226, 226, 25);
  background-image: linear-gradient(
    to left bottom,
    #cf9c0b,
    #d2a511,
    #d5af17,
    #d8b81e,
    #dac225
  );
  font-weight: bold;
  font-size: 1.2rem;
  height: 30rem;
}
#vert-nav a {
  border: solid 1px rgba(226, 226, 25, 0.411);
}

@media (max-width: 767.98px) {
  .form-control {
    margin-top: 0;
  }

  #showpage-div {
    margin: auto;
  }

  nav#vert-nav {
    height: 10rem;
    margin-top: 0;
  }
}

/* Utility */
.show {
  display: inline-block;
}

.selected {
  border-bottom: white solid 2px;
}

#gen-notice {
  display: none;
}
